/* OsloMet CSS for Xaringan Slides */
/* Based on OsloMet Beamer Theme */
/* https://github.com/martinhelso/OsloMet */

.title-slide { 
  color: #000000;
  background-color: #FFDC00; 
}
.title-slide h1 {
    color: #000000;
}
pre {
  white-space: pre-wrap;
}
ul {
  list-style-type: square;
}
blockquote {
  background: #A9A9A9;
  color: #000000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  margin-right: 40px;
}
.highlight {
  color: red;
}
.description {
  color: blue;
}
.theorem-box-header{
  background: #FFDC00;
  color: #000000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 40px;
}
.theorem-box{
  background: #A9A9A9;
  color: #000000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 40px;  
}

