@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
h1, h2, h3 {
  font-family: 'EB Garamond', serif;
}
body { 
  font-family: 'EB Garamond', serif;
}
.author, .date {
  font-family: 'EB Garamond', serif;
}
.remark-slide-content {
  font-size: 150%;
}