h1 {
  color: #00274c;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h2 {
  color: #00274c;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
a:link {
    color: #00274C;
}
li {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
blockquote { 
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 5px solid #FFCB05;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 5px solid #FFCB05;
}
.caption { 
  display: block;
  color: #00274C;
  font-weight: bold;
}
