h1, h2 {
  color: navy;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    z-index: 2;
    color: gold;
    background-color: navy;
    border-color: blue;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: gold;
    background-color: navy;
}
.nav-pills > li.active > a:hover {
    color: gold;
    background-color: navy;
}
blockquote {
  background: #FFFFFF;
  color: #000;
  border-left: 5px solid gold;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
.caption { 
  display: block;
  color: navy;
  font-weight: bold;
}